.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-5 {
  width: 5px;
  max-width: 5px;
  min-width: 5px;
  height: 5px;
}

.icon-6 {
  width: 6px;
  max-width: 6px;
  min-width: 6px;
  height: 6px;
}

.icon-7 {
  width: 7px;
  max-width: 7px;
  min-width: 7px;
  height: 7px;
}

.icon-8 {
  width: 8px;
  max-width: 8px;
  min-width: 8px;
  height: 8px;
}

.icon-9 {
  width: 9px;
  max-width: 9px;
  min-width: 9px;
  height: 9px;
}

.icon-10 {
  width: 10px;
  max-width: 10px;
  min-width: 10px;
  height: 10px;
}

.icon-11 {
  width: 11px;
  max-width: 11px;
  min-width: 11px;
  height: 11px;
}

.icon-12 {
  width: 12px;
  max-width: 12px;
  min-width: 12px;
  height: 12px;
}

.icon-13 {
  width: 13px;
  max-width: 13px;
  min-width: 13px;
  height: 13px;
}

.icon-14 {
  width: 14px;
  max-width: 14px;
  min-width: 14px;
  height: 14px;
}

.icon-15 {
  width: 15px;
  max-width: 15px;
  min-width: 15px;
  height: 15px;
}

.icon-16 {
  width: 16px;
  max-width: 16px;
  min-width: 16px;
  height: 16px;
}

.icon-17 {
  width: 17px;
  max-width: 17px;
  min-width: 17px;
  height: 17px;
}

.icon-18 {
  width: 18px;
  max-width: 18px;
  min-width: 18px;
  height: 18px;
}

.icon-19 {
  width: 19px;
  max-width: 19px;
  min-width: 19px;
  height: 19px;
}

.icon-20 {
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
}

.icon-21 {
  width: 21px;
  max-width: 21px;
  min-width: 21px;
  height: 21px;
}

.icon-22 {
  width: 22px;
  max-width: 22px;
  min-width: 22px;
  height: 22px;
}

.icon-23 {
  width: 23px;
  max-width: 23px;
  min-width: 23px;
  height: 23px;
}

.icon-24 {
  width: 24px;
  max-width: 24px;
  min-width: 24px;
  height: 24px;
}

.icon-25 {
  width: 25px;
  max-width: 25px;
  min-width: 25px;
  height: 25px;
}

.icon-26 {
  width: 26px;
  max-width: 26px;
  min-width: 26px;
  height: 26px;
}

.icon-27 {
  width: 27px;
  max-width: 27px;
  min-width: 27px;
  height: 27px;
}

.icon-28 {
  width: 28px;
  max-width: 28px;
  min-width: 28px;
  height: 28px;
}

.icon-29 {
  width: 29px;
  max-width: 29px;
  min-width: 29px;
  height: 29px;
}

.icon-30 {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  height: 30px;
}

.icon-31 {
  width: 31px;
  height: 31px;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-33 {
  width: 33px;
  height: 33px;
}

.icon-34 {
  width: 34px;
  height: 34px;
}

.icon-35 {
  max-width: 35px;
  min-width: 35px;
  width: 35px;
  max-height: 35px;
  min-height: 35px;
  height: 35px;
}

.icon-36 {
  width: 36px;
  height: 36px;
}

.icon-37 {
  width: 37px;
  height: 37px;
}

.icon-38 {
  width: 38px;
  height: 38px;
}

.icon-39 {
  width: 39px;
  height: 39px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-41 {
  width: 41px;
  height: 41px;
}

.icon-42 {
  width: 42px;
  height: 42px;
}

.icon-43 {
  width: 43px;
  height: 43px;
}

.icon-44 {
  width: 44px;
  height: 44px;
}

.icon-45 {
  width: 45px;
  height: 45px;
}

.icon-46 {
  width: 46px;
  height: 46px;
}

.icon-47 {
  width: 47px;
  height: 47px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}

.icon-49 {
  width: 49px;
  height: 49px;
}

.icon-50 {
  width: 50px;
  height: 50px;
}

.icon-51 {
  width: 51px;
  height: 51px;
}

.icon-52 {
  width: 52px;
  height: 52px;
}

.icon-53 {
  width: 53px;
  height: 53px;
}

.icon-54 {
  width: 54px;
  height: 54px;
}

.icon-55 {
  width: 55px;
  height: 55px;
}

.icon-56 {
  width: 56px;
  height: 56px;
}

.icon-57 {
  width: 57px;
  height: 57px;
}

.icon-58 {
  width: 58px;
  height: 58px;
}

.icon-59 {
  width: 59px;
  height: 59px;
}

.icon-60 {
  width: 60px;
  height: 60px;
}

.icon-61 {
  width: 61px;
  height: 61px;
}

.icon-62 {
  width: 62px;
  height: 62px;
}

.icon-63 {
  width: 63px;
  height: 63px;
}

.icon-64 {
  width: 64px;
  height: 64px;
}

.icon-65 {
  width: 65px;
  height: 65px;
}

.icon-66 {
  width: 66px;
  height: 66px;
}

.icon-67 {
  width: 67px;
  height: 67px;
}

.icon-68 {
  width: 58px;
  height: 58px;
}

.icon-69 {
  width: 69px;
  height: 69px;
}

.icon-70 {
  width: 70px;
  height: 70px;
}

.icon-71 {
  width: 71px;
  height: 71px;
}

.icon-72 {
  width: 72px;
  height: 72px;
}

.icon-73 {
  width: 73px;
  height: 73px;
}

.icon-74 {
  width: 74px;
  height: 74px;
}

.icon-75 {
  width: 75px;
  height: 75px;
}

.icon-76 {
  width: 76px;
  height: 76px;
}

.icon-77 {
  width: 77px;
  height: 77px;
}

.icon-78 {
  width: 78px;
  height: 78px;
}

.icon-79 {
  width: 79px;
  height: 79px;
}

.icon-80 {
  width: 80px;
  height: 80px;
}

.icon-90 {
  width: 90px;
  height: 90px;
}

.icon-100 {
  width: 100px;
  height: 100px;
}

.icon-110 {
  width: 110px;
  height: 110px;
}

.icon-120 {
  width: 120px;
  height: 120px;
}

/* search utilities */

.search-black-icon {
  background-image: url("black/search_black_filled_50px.png");
}

.search-white-icon {
  background-image: url("white/search_white_filled_50px.png");
}

.search-outline-black-icon {
  /* background-image: url(../icons/black/search_outline_black_30px.png); */
}

.search-outline-white-icon {
  /* background-image: url(../icons/white/search_outline_white_30px.png); */
}

.filter-black-icon {
  background-image: url(../icons/black/filter_black_30px.png);
}

.more-black-icon {
  background-image: url(../icons/black/more_black_30px.png);
}

.sort-black-icon {
  background-image: url(../icons/black/sort_black_30px.png);
}

.sort-up-black-icon {
  background-image: url(../icons/black/sort_up_black_30px.png);
}

.sort-down-black-icon {
  background-image: url(../icons/black/sort_down_black_30px.png);
}

.move-up-black-icon {
  background-image: url(../icons/black/up_black_30px.png);
}

.move-down-black-icon {
  background-image: url(../icons/black/down_black_30px.png);
}

.add-black-icon {
  background-image: url(../icons/black/add_black_30px.png);
}

.add-white-icon {
  background-image: url(../icons/white/add_white_30px.png);
}

.edit-1-black-icon {
  background-image: url(../icons/black/edit_black_30px.png);
}

.edit-1-white-icon {
  background-image: url(../icons/white/edit_white_30px.png);
}

.edit-2-black-icon {
  background-image: url(../icons/black/pencil_drawing_black_30px.png);
}

.edit-2-white-icon {
  /* background-image: url(../icons/white/edit_white_30px.png); */
}

.cancel-black-icon {
  background-image: url(../icons/black/delete_sign_1_black_30px.png);
}

.cancel-white-icon {
  background-image: url(../icons/white/delete_sign_1_white_30px.png);
}

.cancel-2-black-icon {
  background-image: url(../icons/black/delete_sign_2_black_30px.png);
}

.cancel-2-white-icon {
  background-image: url(../icons/white/delete_sign_2_white_30px.png);
}

.delete-black-icon {
  background-image: url(../icons/black/delete_black_30px.png);
}

.delete-white-icon {
  background-image: url(../icons/white/delete_white_30px.png);
}

.menu-black-icon {
  background-image: url(../icons/black/menu_black_30px.png);
}

.menu-white-icon {
  background-image: url(../icons/white/menu_white_30px.png);
}

.menu-color-icon {
  background-image: url(../icons/color/menu_color_30px.png);
}

.user-white-icon {
  background-image: url(../icons/white/user_white_30px.png);
}

