<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net5.0\StudentManagementSystem.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <!--<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="FirstCentralNigeriaWebService">
					<security mode="TransportWithMessageCredential" />
				</binding>
				-->
  <!--<binding name="ITransactionProcessor1" />-->
  <!--
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://online.xdscreditbureau.com/XDSNigeriaWebService" binding="basicHttpBinding" bindingConfiguration="FirstCentralNigeriaWebService" contract="FirstCentralNigeriaWebService.XDSNigeriaWebServiceSoap" name="FirstCentralNigeriaWebService" />
		</client>
	</system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XDSNigeriaWebServiceSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>